<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Аватария</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <nav class="navbar is-link">

      <div id="navMenuColorlink-example" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('home.index') }}">Главная</a>
          <a class="navbar-item" href="{{ url_for('character.all') }}">Персонажи</a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="{{ url_for('auth.logout') }}" class="button is-link is-light">Выход</a>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
